.deck-images {
  background: aliceblue;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(55px, auto));
  grid-template-rows: 200px;
  position: relative;
  max-width:50px;
  background: aqua;
  img {
    position: relative;

  }

}

.deck-names {
  background: aliceblue;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  grid-template-rows: 200px;

}
.card-images {
  display: grid;
}